---
---
// https://github.com/pages-themes/hacker/issues/66

$pumpkin: #FF6200;
$header: $pumpkin;

@import "{{ site.theme }}";

header {
  border-bottom: 1px dashed $pumpkin;
}

header h1 {
  color: $pumpkin;
}
