---
---

$pumpkin: #FF6200;
$header: $pumpkin;
$th: $pumpkin;

@import "{{ site.theme }}";

header {
  border-bottom: 1px dashed $pumpkin;
}

header h1 {
  color: $pumpkin;
}

th {
  border-bottom: 1px dashed $pumpkin;
}
