---
---

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css';

$pumpkin: #FF6200;
$header: $pumpkin;
$th: $pumpkin;
$hr: $pumpkin;

@import "{{ site.theme }}";

header {
  border-bottom: 1px dashed $pumpkin;
}

header h1 {
  color: $pumpkin;
}

th {
  border-bottom: 1px dashed $pumpkin;
}

hr {
  border-bottom: 1px dashed $pumpkin;
  color: $pumpkin;
}